<div id="about">
  <div class="content">
    <div class="about-container">
      <h1 class="section-title">
        <span class="giphy-title">About</span>
        <span class="upload-text">Our Project </span>
      </h1>
      <div class="bottom-line"></div>
      <p class="lead"></p>
      <div class="about-info">
        <img class="about-image" src="images/about.gif" alt="about" />
        <div class="about-text">
          <h4>
            Let's dive into the key features and functionality that our project
            offers:
          </h4>
          <p>
            🔥 <span class="highlight">Trending Gifs:</span> Our application
            displays the top trending gifs, giving you a glimpse into the most
            popular and sought-after content.
          </p>
          <p>
            🔎 <span class="highlight">Gif Search:</span> Looking for something
            specific? Our search functionality enables you to find gifs based on
            your desired query.
          </p>
          <p>
            🔬 <span class="highlight">Gif Details: </span>Clicking on a gif
            will reveal its detailed information, including the username of the
            user who uploaded it.
          </p>
          <p>
            👌 <span class="highlight">Upload Your Own Gifs:</span> Express your
            creativity and share your unique gifs with the world! Our
            application provides an option to upload gifs from your local file
            system.
          </p>
          <p>
            📲 <span class="highlight">Manage Uploaded Gifs:</span> Our
            application allows you to view and access all the gifs you've
            uploaded in one place.
          </p>
          <p>
            ♥️ <span class="highlight">Favorite Gifs:</span> Make your mark and
            curate a collection of your favorite gifs! Our application enables
            you to mark gifs as favorites, ensuring easy access to the ones that
            resonate with you the most.
          </p>
        </div>
      </div>
      <h2 class="section-title">Our team</h2>
      <div class="bottom-line"></div>
      <section id="team">
        <div class="card">
          <img src="images/diana.png" alt="Profile picture of Diana" />
          <div class="data">
            <h3>Diana Spieser</h3>
            <i>Telerik Academy Alpha JS Student</i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam
              sedesmi. Consectetur elit placerat mollis donec dolor.
            </p>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-gitlab"></a>
            <a href="#" class="fa fa-medium"></a>
          </div>
        </div>
        <div class="card">
          <img src="images/dimo.png" alt="Profile picture of Dimo" />
          <div class="data">
            <h3>Dimo Dimov</h3>
            <i>Telerik Academy Alpha JS Student</i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam
              sedesmi. Consectetur elit placerat mollis donec dolor.
            </p>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-gitlab"></a>
            <a href="#" class="fa fa-medium"></a>
          </div>
        </div>
        <div class="card">
          <img src="images/georgi.png" alt="profile picture of Georgi" />
          <div class="data">
            <h3>Georgi Naydenov</h3>
            <i>Telerik Academy Alpha JS Student</i>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam
              sedesmi. Consectetur elit placerat mollis donec dolor.
            </p>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-gitlab"></a>
            <a href="#" class="fa fa-medium"></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
