/* Font Styles */
@font-face {
  font-family: 'Nexa Bold';
  src: url('../fonts/Nexa\ Bold.woff2') format('woff2'),
    url('../fonts/Nexa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/Nexa-Light.woff2') format('woff2'),
    url('../fonts/Nexa-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Regular';
  src: url('../fonts/Nexa-Regular.woff2') format('woff2'),
    url('../fonts/Nexa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

.text-center {
  text-align: center;
}
